{% extends "layout.html" %}

{% block body%}

    <h1> Search Transaction </h1>
    <form class="form-cont" action="{{url_for('search_transactions')}}" method="post">

        <label> Maximum Amount </label>
        <input type="number" name="maximum" placeholder="Type Maximum Amount" autocomplete="off" required>

        <div> </div>
        <label> Minimum Amount </label>
        <input type="number" name="minimum" placeholder="Type Minimum Amount" autocomplete="off" required>

        <div> </div>
        <button type="submit"> Search </button>

    </form>

    <a href = "{{url_for('search_transactions_by_date')}}"> Search By Date </a>
    <a href="{{url_for('index')}}"> Go back </a>

{% endblock %}