{% extends "layout.html" %}

{% block body %}
    <div class="main-container"> 
        <h1> Transaction Records </h1>

        <table>
            <thead>
                <tr>               
                    <th> Date </th>
                    <th> Amount </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in data %}
                <tr>
                    <td> {{ transaction.date }}</td>
                    <td> {{ transaction.amount }}</td>
                    <td class="transaction-actions">
                        <a href="/edit/{{ transaction.id }}"> Edit </a>
                        <form action="{{ url_for('delete_transaction', id=transaction.id) }}" method="post">
                            <button type="submit"> Delete </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="additional-actions">
            <a class="btn btn-add" href="{{url_for('add_transactions')}}"> Add Transaction</a>
            <a class="btn btn-search" href="{{url_for('search_transactions')}}"> Search Transactions </a>
        </div>

    </div>
{% endblock %}
